body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header-container, .footer {
    background-color: #1f2937;
}

.header-container {

}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.information {

}

.testimonial {

}

.call-to-action {

}

.driving-img {
    width: 250px;
}