body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: auto;
}

/** HEADER STUFF, WITH SOME MULTI SELECTORS IF CONVIENENT (PROBABLY TYPO'D THAT LAST WORD WHOOPS) **/

.header-container, .footer {
    background-color: #1f2937;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 64px;
}

.hero-header {
    font-size: 48px;
    color:#f9faf8;
    font-weight: bolder;
}

.hero-secondary, .header-link {
    font-size: 18px;
    color:#E5E7EB
}

.header-link {
    text-decoration-line: none;
}

.sign-up {
    border-radius: 25px;
    background-color: #2882f6;
    color: #f9faf8;
    font-weight: bold;
}

/** BUTTONS ARE FUN **/

.button-one {
    border: none
}

.button-two {
    border: solid #f9faf8 2px
}

/** HEADER ENDS. INFO SECTION BEGINS **/

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/** INFO SECTION ENDS I HOPE. TESTIMONIAL SECTION BEGINS **/

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}

/** TESTIMONIAL SECTION ENDS. CALL TO ACTION SECTION BEGINS **/

.call-to-action {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #2882f6;
    margin: 40px 150px;
    border-radius: 10px;
    padding: 25px;
}

.sign-up-text {
    color:#f9faf8;
    margin-right: 25px;
}

.sign-up-header {
    padding-bottom: 0;
}

/** CALL TO ACTION ENDS. MISC STUFF BEGINS. MY LAST NOTE TO MYSELF. **/ 

.footer {
    text-align: center;
}

.driving-img {
    width: 250px;
}